#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(195, 71, 252);
}

.home {
  color: rgb(255, 255, 255);
}

.button {
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  padding: 1rem 1rem;
  vertical-align: middle;
  margin-left: 5%;
  margin-right: 5%;
}

